  .Home {
    z-index: 0;
    height: 100vh;
    width: 100vw;
  }
  
  .colourBackground {
    /* background: linear-gradient(180deg, #E9A9E7 29.92%, #FBC8D4 68.05%, #F7E8D2 100%); */
    background-color: #FAF8EE;
    animation: fadeColourBackground 1s;
    animation-fill-mode: forwards;
  }

  .blackWhiteBackground {
    /* background: linear-gradient(180deg, #878787 1.07%, #B8B8B8 21.16%, #D4D4D4 44.87%, #DDDDDD 58.78%, #FFFFFF 100%); */
    background-color: #2B2C2E;
    animation: fadeBlackWhiteBackground 1s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeBlackWhiteBackground {
    from { background-color: #FAF8EE; }
    to { background-color: #2B2C2E; }
  }

  @keyframes fadeColourBackground{
    from { background-color: #2B2C2E; }
    to { background-color: #FAF8EE; }
  }

  .sunMoonHome {
    position: fixed;
    z-index: 1000;
    right: 1%;
    /* float: right; */
    margin-top: 2%;
    margin-right: 3%;
    width: 50px;
    height: 50px;
  }
  
  .intro {
    position: absolute;
    left: 50%;
    top: 40%;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  
  .boyImage {
    width: 50px;
    height: 50px;
  }
  
  .name {
    margin: 0 0 0 10px;
    font-size: 4vw;
    font-weight: normal;
    vertical-align: middle;
  }

  .blackText {
    color: black;
  }

  .whiteText {
    color: white;
  }

  .invertColour {
    filter: invert(1);
  }

  /* .fadeInBlackWhite {
    animation: fadeInBlackWhite 1s;
  }
  .fadeInColour {
    animation: fadeInColour 1s;
  }

  @keyframes fadeInBlackWhite {
    0% { opacity: 0.1; }
    100% { opacity: 1; }
  }

  @keyframes fadeInColour {
    0% { opacity: 0.4; }
    100% { opacity: 1; }
  } */
  
  .sidebar {
    position: fixed;
    display: inline-block;
    height: 100vh;
    width: 20vw;
    padding-left: 2em;
    padding-top: 5em;
    left: -100%;
    transition: 850ms;
  }

  .sidebar.active {
    left: 0%;
    transition: 850ms;
  }

  .colourSidebar {
    background-color: #E1C699;
    animation: fadeColourSidebar 1s;
    animation-fill-mode: forwards;
  }

  .blackWhiteSidebar {
    background-color: black;
    animation: fadeBlackWhiteSidebar 1s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeBlackWhiteSidebar {
    from { background-color: #E1C699; }
    to { background-color: black; }
  }

  @keyframes fadeColourSidebar {
    from { background-color: black; }
    to { background-color: #E1C699; }
  }

  .sidebarList {
    padding: 0%;
    z-index: 1000;
  }

  .sidebarTitle {
    list-style: none;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .sidebarTitle a {
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
  }

  .nav-icon {
    position: fixed;
    margin: 2em;
    width: 40px;
    z-index: 1000;
  }

  .nav-icon.active:before {
    transform: translateY(12px) rotate(135deg);
  }
  
  .nav-icon.active:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .nav-icon.active div {
    transform: scale(0);
  } 
  
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
    background-color: black;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .5s ease-in-out;
  }

  .aboutMe {
    /* height: 100vh; */
    width: 100vw;
    padding-bottom: 100px;
  }

  .sectionDivider {
    z-index: -1;
    width: 100vw;
    height: 20px;
    background-color: white;
  }

  .sectionTitle {
    margin: 0%;
    text-align: center;
    font-size: 3rem;
    color: #c891f1;
  }

  @media screen and (max-width: 800px) {
    .text {
      margin: 20px 0px 0px 0px;
      text-align: center;
      padding-left: 5%;
      padding-right: 3%;
      font-size: 23px;
      font-family: 'mustica';
    }
  }

  @media screen and (min-width: 600px) {
    .text {
      margin: 20px 0px 0px 0px;
      text-align: center;
      padding-left: 15%;
      padding-right: 15%;
      font-size: 23px;
      font-family: 'mustica';
    }
  }

  /* .text {
    margin: 20px 0px 0px 0px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 23px;
    font-family: 'mustica';
  } */

  a {
    text-decoration: none;
  }
  /* a:link, a:visited {
      color: #c891f1;
  } */
  a:hover {
    /* color: #966Fd6; */
    color: #9300ff;
  }

  .purpleLinks {
    color: #c891f1;
  }

  @font-face { font-family: minomu; 
    src: url('../Assets/minomu-font/MinomuLight-L3xgn.otf'); 
  } 
  @font-face { font-family: mustica; 
    src: url('../Assets/mustica-pro-by-alifinart-studio-font/MusticaproSemibold-2OG5o.otf'); 
  } 
  
  .workExperience {
    width: 100vw;
    padding-bottom: 100px;
  }