table {
    border-collapse: collapse;
    width: 100%;
    max-width: 92vw;
    margin: 4vw auto;
    overflow-x: scroll;
  }
  
  thead {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  th {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }

  /* thead th,
  tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  } */

  a {
    color: black;
  }
  
  tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  tbody td:first-child {
    font-weight: bold;
  }
  
  tbody td:nth-child(2),
  tbody td:nth-child(3),
  /* tbody td:nth-child(), */
  tbody td:nth-child(5),
  tbody td:nth-child(6),
  tbody td:nth-child(7),
  tbody td:nth-child(8),
  tbody td:nth-child(9),
  tbody td:nth-child(10),
  tbody td:nth-child(11),
  tbody td:nth-child(12),
  tbody td:nth-child(13) {
    font-style: italic;
  }
  
  @media (max-width: 600px) {
    tbody td {
      display: block;
    }
    tbody td:first-child {
      font-weight: normal;
    }
    tbody td:before {
      content: attr(data-label);
      display: inline-block;
      width: 120px;
      font-weight: bold;
      margin-right: 10px;
    }
  }
  